/* SETUP SNIPPET */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* STRIPPING STYLES */
* {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
}

/* MAIN STYLING */
html {
  font-size: 62.5%;
}

body {
  background-color: #ccc8c8;
}

body,
button {
  font-family: 'Biryani', sans-serif;
  color: #2e2e2e;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  padding: 20px 0 10px;
}

h1,
button {
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
  transition: .4s ease;
}

.main-btn {
  background-color: #8fac96;
  font-size: 1.6rem;
  height: 70px;
  width: 200px;
}

.main-btn:hover,
.main-btn:focus {
  letter-spacing: 4px;
}


/* MODAL STYLING */
.modal {
  background-color: #30303090;
  width: 100%;
  height: 100%; 
  padding-top: 150px;
  position: fixed; 
  left: 0; 
  top: 0;
  bottom: 0;
  z-index: 10;
}

.modal-content {
  background-color: #F9F6F4;
  border-radius: 10px;
  padding: 30px; 
  margin: auto; 
  width: 55%;  
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close-modal {
  font-size: 2rem;

  position: absolute;
  top: 10px;
  left: 10px;
}

.close-modal button:hover,
.close-modal button:focus {
  color: #8fac96;
}

@keyframes animatetop {
  from {
    top: -300px; 
    opacity: 0;
  }

  to {
    top: 0; 
    opacity: 1;
  }
}

